@charset "utf-8";

/**
 * main.scss
 * @author Cc 
 * @date 2016-12-16
 *
 */


/* mixin */

@import "_mixin";

/* reset 重置样式 */

@import "_reset";

/* base 基础样式，一般改这个，看不同项目的需要 */

@import "_base";

/* frame */

#page-wrapper {
    padding-top: 120px;
}


/* tag-topSidebar */

.navbar-brand {
    width: 124px;
    height: 37px;
    background: url(../images/logo.png) no-repeat;
    text-indent: -9999px;
    margin: 6px 10px;
}

.navbar.navbar-default {
    background-color: #0a62b5;
}

.navbar-top-links a {
    color: #fff;
    &:hover,
    &:focus {
        background-color: #1d8ae5!important;
        color: #fff!important;
    }
}

.navbar-top-links .dropdown-user {
    right: auto;
    left: 0;
}

.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
    max-height: none;
}

.sidebar ul li {}


/* tag-datePicker */

.daterangepicker .ranges {
    width: 172px;
}

.daterangepicker .ranges .input-mini {
    width: 80px;
}


/* tag-select */

.select2-selection__choice {
    max-width: 88%;
    @extend %text_ellipsis;
}

.select2-container {
    width: 100%!important;
}

.select2-container .select2-selection--multiple {
    min-height: 34px;
}

.select2-container .select2-selection--single {
    min-height: 34px;
    padding-top: 2px;
    & .select2-selection__clear {
        display: none;
    }
}

.select2-container--default .select2-results__option[aria-selected=true] {
    display: none;
}

[data-isRequired] label:first-child:before {
    content: '* ';
    color: red;
}


/* tag-table */

table.dataTable {
    border-collapse: collapse;
    border: 1px solid #ddd!important;
    border-top: 0!important;
    border-bottom: 0!important;
}

table.dataTable th,
table.dataTable td {
    border: 1px solid #ddd!important;
    white-space: nowrap;
}

table.dataTable th {
    position: relative;
}

table.dataTable th .hideColumn {
    position: absolute;
    top: 16px;
    right: 5px;
    width: 7px;
    height: 7px;
    background: url(../resource/images/delCols.png) no-repeat;
    background-size: contain;
}

table.dataTable thead {
    background: #eee;
}

table.dataTable thead .tablesorter-header {
    background-image: url(../resource/images/sort_both.png);
    background-repeat: no-repeat;
    background-position: center left;
    cursor: pointer;
}

table.dataTable thead .tablesorter-headerDesc {
    background-image: url(../resource/images/sort_desc.png);
}

table.dataTable thead .tablesorter-headerAsc {
    background-image: url(../resource/images/sort_asc.png);
}

table.dataTable tr {
    &:first-child th:first-child,
    & td:first-child {
        border-left: 0!important;
    }
    &:first-child th:last-child,
    & td:last-child {
        border-right: 0!important;
    }
}

table.dataTable td {
    color: #555;
}

table.dataTable.no-footer {
    border: 0;
}

.btn-toolbar {
    margin: 10px 0;
}

.m_dataTable {
    position: relative;
    min-height: 300px;
}

.m_dataTable .dataTables_length {
    position: absolute;
    top: -44px;
    left: 0;
    height: 34px;
    ;
}

.m_dataTable .dataTables_length .form-control {
    display: inline-block;
    width: 65px;
    text-align: center;
}

.fixedHeader-floating::-webkit-scrollbar {
    display: none;
}

// 弹层、遮罩、弹窗、加载
$dialogZIndex: 10000;
.m_dialog {
    position: fixed;
    z-index: $dialogZIndex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.m_dialog .mask {
    @extend .m_dialog;
    background: rgba(0, 0, 0, .8);
}

// loading
.w_pageLoading {
    position: absolute;
    z-index: $dialogZIndex + 1;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    box-sizing: border-box;
    line-height: 100px;
    text-align: center;
    color: #fff;
    font-size: 16px;
}

.w_pageLoading:before,
.w_pageLoading:after {
    opacity: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    content: "\0020";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    border: 2px solid #fff;
    box-shadow: 0 0 25px #fff, inset 0 0 25px #fff;
    -webkit-box-shadow: 0 0 25px #fff, inset 0 0 25px #fff;
}

.w_pageLoading:after {
    z-index: 1;
    animation: cssload 2.3s infinite 1.15s;
    -webkit-animation: cssload 2.3s infinite 1.15s;
}

.w_pageLoading:before {
    z-index: 2;
    animation: cssload 2.3s infinite;
    -webkit-animation: cssload 2.3s infinite;
}

@keyframes cssload {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@-webkit-keyframes cssload {
    0% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}

$frameWidth: 190px;
@include setMedia('min-width', 768px) {
    #page-wrapper {
        margin-left: $frameWidth;
        padding-top: 70px;
        border-left: 0;
    }
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        width: $frameWidth;
        overflow-y: auto;
        border-right: 1px solid #e7e7e7;
    }
}