@charset "utf-8";
/**
 * main.scss
 * @author Cc 
 * @date 2016-12-16
 *
 */

/* mixin */
@import "_mixin";

/* reset 重置样式 */
@import "_reset";

/* base 基础样式，一般改这个，看不同项目的需要 */
@import "_base";

/* tag-topSidebar */
.navbar-brand {
	background: url(../images/logo.png) no-repeat;
	text-indent: -9999px;
}
.navbar.navbar-default {
	background-color: #0a62b5;
}
.navbar-top-links a {
	color: #fff;
	&:hover, &:focus {
		background-color: #1d8ae5!important;
		color: #fff!important;
	}
}
body .navbar .navbar-nav > li > a {
	color: #fff;
}
body .navbar .navbar-nav.quick-actions .user > a {
	font-size: 14px;
}
body .navbar .navbar-nav.side-nav > li.navigation .menu > li {
	& > a {
		font-size: 14px;
		font-weight: normal;
	}
	&.dropdown.open > ul.dropdown-menu > li {
		& a {
			line-height: 40px;
		}
		& a:hover,
		&.active a {
			color: yellow;
		}
	}
}



/* tag-select */
.select2-selection__choice {
	white-space: normal;
}
.select2-container .select2-selection--multiple {
	min-height: 34px;
}
.select2-container .select2-selection--single {
	min-height: 34px;
	padding-top: 2px;
}

/* tag-table */
.dataTables_wrapper {
	overflow: hidden;
}
table.dataTable {
	border-collapse: collapse;
}
// table.dataTable.no-footer {
// 	border-bottom-color: #ddd;
// }
// table.dataTable th {
// 	background: #2c2e2f;
// 	color: #fff;
// 	font-weight: normal!important;
// }
table.dataTable th,
table.dataTable td {
	border: 1px solid #ddd!important;
    white-space: nowrap;
}
table.dataTable th {
	position: relative;
}
table.dataTable th .hideColumn {
	position: absolute;
	top: 16px;
	right: 5px;
	width: 7px;
	height: 7px;
	background: url(../resource/images/delCols.png) no-repeat;
	background-size: contain;
}
table.dataTable thead .header{
	background-image: url(../resource/images/sort_both.png);
	background-repeat: no-repeat;
	background-position: center left;
	cursor: pointer;
}
table.dataTable thead .headerSortUp {
	background-image: url(../resource/images/sort_desc.png);
}
table.dataTable thead .headerSortDown {
	background-image: url(../resource/images/sort_asc.png);
}
table.dataTable td {
	color: #555;
}
table.dataTable.no-footer {
	border: 0;
}

.btn-toolbar {
	margin: 10px 0;
}

.m_dataTable {
	position: relative;
	min-height: 300px;
}
.w_tableEmptyLoading {
    @extend %display_flex;
    @include flex_justify_content(center);
    @include flex_align_items(center);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
