@charset "utf-8";
/**
 * main.scss
 * @author Cc 
 * @date 2016-12-16
 *
 */

/* mixin */
@import "_mixin";

/* reset 重置样式 */
@import "_reset";

/* base 基础样式，一般改这个，看不同项目的需要 */
@import "_base";

/* tag-topSidebar */
.navbar-brand {
	width: 124px;
	height: 37px;
	background: url(../images/logo.png) no-repeat;
	text-indent: -9999px;
	margin: 6px 10px;
}
.navbar.navbar-default {
	background-color: #0a62b5;
}
.navbar-top-links a {
	color: #fff;
	&:hover, &:focus {
		background-color: #1d8ae5!important;
		color: #fff!important;
	}
}
.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
	max-height: none;
}
.sidebar ul li {
	
}

/* tag-select */
.select2-selection__choice {
	white-space: normal;
}
.select2-container .select2-selection--multiple {
	min-height: 34px;
}
.select2-container .select2-selection--single {
	min-height: 34px;
	padding-top: 2px;
}

/* tag-table */
.dataTables_wrapper {
	overflow: hidden;
}
table.dataTable {
	border-collapse: collapse;
}
// table.dataTable.no-footer {
// 	border-bottom-color: #ddd;
// }
// table.dataTable th {
// 	background: #2c2e2f;
// 	color: #fff;
// 	font-weight: normal!important;
// }
table.dataTable th,
table.dataTable td {
	border: 1px solid #ddd!important;
    white-space: nowrap;
}
table.dataTable th {
	position: relative;
}
table.dataTable th .hideColumn {
	position: absolute;
	top: 16px;
	right: 5px;
	width: 7px;
	height: 7px;
	background: url(../resource/images/delCols.png) no-repeat;
	background-size: contain;
}
table.dataTable thead .header{
	background-image: url(../resource/images/sort_both.png);
	background-repeat: no-repeat;
	background-position: center left;
	cursor: pointer;
}
table.dataTable thead .headerSortUp {
	background-image: url(../resource/images/sort_desc.png);
}
table.dataTable thead .headerSortDown {
	background-image: url(../resource/images/sort_asc.png);
}
table.dataTable td {
	color: #555;
}
table.dataTable.no-footer {
	border: 0;
}

.btn-toolbar {
	margin: 10px 0;
}

.m_dataTable {
	position: relative;
	min-height: 300px;
}

// loading
.cssload-loader {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 40px;
	width: 40px;
	margin: -20px 0 0 -20px;
	animation: cssload-loader 1s cubic-bezier(.8,0,.2,1) infinite;
	-webkit-animation: cssload-loader 1s cubic-bezier(.8,0,.2,1) infinite;
}

.cssload-top {
	animation: cssload-top 1s linear infinite;
	-webkit-animation: cssload-top 1s linear infinite;
	border-top: 19px solid #0a62b5;
	border-right: 19px solid transparent;
	border-left: 19px solid transparent;
	height: 0px;
	width: 1px;
	transform-origin: 50% 100%;	
	-webkit-transform-origin: 50% 100%;
}

.cssload-bottom {
	animation: cssload-bottom 1s linear infinite;
	-webkit-animation: cssload-bottom 1s linear infinite;
	border-right: 19px solid transparent;
	border-bottom: 19px solid #0a62b5;
	border-left: 19px solid transparent;
	height: 0px;
	width: 1px;
	transform: scale(0);	
	-webkit-transform: scale(0);
	transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%;
}

.cssload-line {
	animation: cssload-line 1s linear infinite;
	-webkit-animation: cssload-line 1s linear infinite;
	border-left: 1px dotted #0a62b5;
	height: 0px;
	width: 0px;
	position: absolute;
	top: 19px;
	left: 19px;
}


@keyframes cssload-loader {
	90% { transform: rotate(0deg); }
	100% { transform: rotate(180deg); }
}

@-webkit-keyframes cssload-loader {
	90% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(180deg); }
}

@keyframes cssload-top {
	90% { transform: scale(0); }
	100% { transform: scale(0);}
}

@-webkit-keyframes cssload-top {
	90% { -webkit-transform: scale(0); }
	100% { -webkit-transform: scale(0);}
}

@keyframes cssload-bottom {
	10% { transform: scale(0); }
	90% { transform: scale(1); }
	100% { transform: scale(1); }
}

@-webkit-keyframes cssload-bottom {
	10% { -webkit-transform: scale(0); }
	90% { -webkit-transform: scale(1); }
	100% { -webkit-transform: scale(1); }
}

@keyframes cssload-line {
	10% { height: 19px; }
	100% { height: 19px; }
}

@-webkit-keyframes cssload-line {
	10% { height: 19px; }
	100% { height: 19px; }
}


@include setMedia('min-width', 768px) {
	#page-wrapper {
		padding-top: 50px;
		border-left: 0;
	}
	.sidebar {
		position: fixed;
		top: 0;
		bottom: 0;
		overflow-y: auto;
		border-right: 1px solid #e7e7e7;
	}
}