@charset "utf-8";
/**
 * main.scss
 * @author Cc 
 * @date 2016-12-16
 *
 */

/* mixin */
@import "_mixin";

/* reset 重置样式 */
@import "_reset";

/* base 基础样式，一般改这个，看不同项目的需要 */
@import "_base";

/* tag-topSidebar */
.navbar-brand {
	width: 124px;
	height: 37px;
	background: url(../images/logo.png) no-repeat;
	text-indent: -9999px;
	margin: 6px 10px;
}
.navbar.navbar-default {
	background-color: #0a62b5;
}
.navbar-top-links a {
	color: #fff;
	&:hover, &:focus {
		background-color: #1d8ae5!important;
		color: #fff!important;
	}
}

/* tag-select */
.select2-selection__choice {
	white-space: normal;
}

/* tag-table */
.dataTables_wrapper {
	overflow-x: auto;
}
table.dataTable {
	border-collapse: collapse;
}
// table.dataTable.no-footer {
// 	border-bottom-color: #ddd;
// }
// table.dataTable th {
// 	background: #2c2e2f;
// 	color: #fff;
// 	font-weight: normal!important;
// }
table.dataTable th,
table.dataTable td {
	border: 1px solid #ddd!important;
    white-space: nowrap;
}
table.dataTable th .hideColumn {
	padding-left: 10px;
}
table.dataTable thead .header{
	background-image: url(../resource/images/sort_both.png);
	background-repeat: no-repeat;
	background-position: center left;
	cursor: pointer;
}
table.dataTable thead .headerSortUp {
	background-image: url(../resource/images/sort_desc.png);
}
table.dataTable thead .headerSortDown {
	background-image: url(../resource/images/sort_asc.png);
}
.btn-toolbar {
	margin: 10px 0;
}

.m_dataTable {
	position: relative;
	min-height: 300px;
}
.w_tableEmptyLoading {
    @extend %display_flex;
    @include flex_justify_content(center);
    @include flex_align_items(center);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
